services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: shopping_backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: shopping_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

  scraper:
    build:
      context: .
      dockerfile: Dockerfile.scraper
    container_name: shopping_scraper
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./:/app

  sync-service:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: shopping_sync
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./:/app
    command: python sync_service.py
